@media(max-width:1100px){
    .header-right{
        margin-left: 0;
    }
}


@media(max-width:900px){
    .header-right{
        gap: 0;
    }

    .summary-header{
        flex-direction: column;
        padding: 0;
        margin-top: 0;
        margin-bottom: 40px;
        margin-left: 8px;
        width: unset;
        height: unset;
        gap: unset;
        align-items: unset;
    }

    .p-left{
        font-size: 40px;
        margin-bottom: 8px;
    }

    .delimiter-vertical {
        display: none;
    }

    .p-right{
        font-size: 20px;
        margin-top: 0;
        width: max-content;
    }

    .delimiter-horizontal{
        width: 90px;
    }

    .greeting{
        display: none;
    }

    .summary-counter{
        width: auto;
        margin-left: 8px;
        align-items: unset;
    }

    .box-upper{
        width: auto;
    }

    .box-upper-left{
        width: auto;
        height: unset;
    }

    .box-upper-right{
        width: auto;
        height: unset;
    }

    .box-middle{
        width: auto;
        padding: 0 16px;
        gap: 24px;
    }

    .box-lower{
        width: auto;
    }
    .box-lower-content{
        width: unset;
        height: unset;
        padding: 16px;
    }






    header{
        height: 80px;
        justify-content: flex-end;
    }

    .header-under{
        justify-content: flex-end;
        margin-right: 330px;
    }

    .header-under p{
        display: none;
    }

    .help-img{
        display: none;
    }

    .external-back{
        justify-content: end;
        width: 95%;
        display: flex;
        position: absolute;
        top: 150px;
    }

    nav{
        position: fixed;
        flex-direction: row;
        height: 80px;
        width: 100%;
        bottom: 0;
        top: unset;
        padding: unset;
    }

    .nav-links{
        padding-top: unset;
        flex-direction: row;
        width: 95%;
        justify-content: space-around;
        gap: 0;
    }
    .nav-links a{
        flex-direction: column;
        gap: 0;
        padding-top: 16px;
        width: auto;
    }

    .nav-logo{
        position: fixed;
        top: 0px;
        left: 20px;
        width: 50px;
        height: 80px;
    }

    .nav-rights{
        display: none;
    }

    main{
        padding-bottom: 70px;
        padding-left: 8px;
        padding-right: 8px;
        margin-left: unset;
    }
}


@media(max-width:700px){
    .box-upper{
        gap: 30px;
    }
    .box-upper-left img{
        width: 60px;
    }
    .box-upper-text{
        font-size: 40px;
    }
    .box-upper-text span{
        font-size: 16px;
    }
    .box-upper-right img{
        width: 60px;
    }
    .count-urgent{
        font-size: 40px;
    }
    .box-middle-text span{
        font-size: 16px;
    }
    .box-lower-content-num{
        font-size: 40px;
    }
    .box-lower-content-text{
        font-size: 16px;
    }
    .box-middle{
        height: unset;
    }
    .box-middle-delimiter{
        height: 70%;
    }
}

@media(max-width:428px){
    main{
        padding-top: 70px;
        overflow-y: hidden;
    }
    .summary-header{
        margin-left: 0;
    }
    .summary-counter{
        margin-left: 0;
        gap: 12px;
    }
    .box-upper{
        gap: 8px;
    }
    .box-upper-left img{
        width: 40px;
    }
    .box-upper-text{
        font-size: 36px;
    }
    .box-upper-text span{
        font-size: 16px;
    }
    .box-upper-right img{
        width: 40px;
    }
    .urgent-symbol{
        width: 40px;
    }
    .box-upper-left{
        padding: 24px;
        gap: 12px;
    }
    .box-upper-right{
        padding: 24px;
        gap: 12px;
    }
    .box-middle{
        gap: 8px;
    }
    .count-urgent{
        font-size: 36px;
    }
    .box-lower{
        gap: 8px;
    }
    .box-lower-content{
        gap: unset;
    }
    .box-lower-content-num{
        font-size: 36px;
    }
    .greeting-time{
        font-size: 36px;
    }
    .greeting-name{
        font-size: 47px;
    }
}




@media(max-width:370px){
    .p-left{
        font-size: 30px;
    }
    .p-right{
        font-size: 16px;
    }
    .delimiter-horizontal{
        width: 70px;
    }
}