@media(max-width:1130px){
    .input-container{
        flex-direction: column;
        gap: 0;
        align-items: flex-start;
        margin-left: 100px;
    }
    .input-section-left{
        margin-left: 0;
        width: 100%;
        max-width: 367px;
    }
    .line{
        display: none;
    }
    .input-section-right{
        width: 100%;
        max-width: 367px;
    }
}


@media(max-width:1100px){
    .header-right{
        margin-left: 0;
    }
}


@media(max-width:900px){
    .input-container{
        align-items: center;
        margin-left: 0;
        padding-bottom: 200px;
    }
    main h1{
        margin: 0;
        justify-content: center;
        width: 100%;
        display: flex;
        font-size: 50px;
    }
    .footer{
        position: fixed;
        bottom: 80px;
    }
















    header{
        height: 80px;
        justify-content: flex-end;
    }

    .header-under{
        justify-content: flex-end;
        margin-right: 330px;
    }

    .header-under p{
        display: none;
    }

    .help-img{
        display: none;
    }

    .external-back{
        justify-content: end;
        width: 95%;
        display: flex;
        position: absolute;
        top: 150px;
    }

    nav{
        position: fixed;
        flex-direction: row;
        height: 80px;
        width: 100%;
        bottom: 0;
        top: unset;
        padding: unset;
    }

    .nav-links{
        padding-top: unset;
        flex-direction: row;
        width: 95%;
        justify-content: space-around;
        gap: 0;
    }
    .nav-links a{
        flex-direction: column;
        gap: 0;
        padding-top: 16px;
        width: auto;
    }

    .nav-logo{
        position: fixed;
        top: 0px;
        left: 20px;
        width: 50px;
        height: 80px;
    }

    .nav-rights{
        display: none;
    }


    main{
        padding-bottom: 70px;
        padding-left: 8px;
        padding-right: 8px;
        margin-left: unset;
    }
}