.add-task-popup {
  position: fixed;
  top: 65%;
  right: -10000px;
  transform: translateY(-50%);
  padding: 15px 25px;
  border-radius: 10px;
  opacity: 0;
  transition: all 0.4s ease;
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  z-index: 100;
}

.add-task-popup.show {
  right: 50%; /* Endpunkt Mitte */
  transform: translate(50%, -70%); /* korrekt zentrieren */
  opacity: 1;
}
.popup-header{
  width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popup-header img {
    width: 32px;
    height: 32px;
    cursor: pointer;
border-radius: 56px;
opacity: 1;
}
.popup-header img:hover {
    background-color: #e8e8e8;
    
}

/* ////////////////////////////////////////////////////////////////// */


main{
    width: 100%;
    max-width: 1920px;
    height: 100%;
    position: relative;
    margin-left: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
main h1{
    font-size: 40px;
    margin-left: 0px;
}
main input,
main select{
    max-width: 1920px;
    border-radius: 7px;
    border: 1px solid #c8c8c8;
    padding: 12px 21px;
    font-size: 18px;
    width: auto;
}
main input,
main select:hover{
    cursor: pointer;
}
main input:focus,
main select:focus{
    border-color: #29ABE2;
}
main textarea{
    max-width: 1920px;
    height: 100px;
    border-radius: 7px;
    border: 1px solid #c8c8c8;
    padding: 12px 21px;
    font-size: 18px;
    font-family: arial, sans-serif;
    resize: none;
}
main textarea:hover{
    cursor: pointer;
}
main textarea:focus{
    border-color: #29ABE2;
}


.input-container{
    width: 100%;
    max-width: 1920px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.input-section-left{
        display: flex;
    flex-direction: column;
    margin-left: 0px;
    /* width: 300px; */
    height: 400px;
}
.input-section-left label{
    font-size: 18px;
    margin-top: 18px;
    margin-bottom: 4px;
}
.line{
    margin-top: 40px;
    background-color: #c8c8c8;
    height: 300px;
    width: 2px;
}

.input-section-right{
    display: flex;
    flex-direction: column;
    /* width: 300px; */
    height: auto;
    
}
.input-section-right label{
    font-size: 18px;
    margin-top: 18px;
    margin-bottom: 4px;
}



.priority-section{
    display: flex;
    justify-content: space-between;
    gap: 16px;
}
.priority-section button{
    width: 110px;
    height: 40px;
    border: none;
    border-radius: 7px;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 16px 10px;
    box-shadow: 0px 0px 4px 0px #0000001A;

}
.priority-section button:hover{
    box-shadow: 0px 4px 4px 0px #00000040;
}

.requiredStar{
    color: orangered;
}

.footer{
    gap: 375px;
    width: 100%;
    max-width: 1920px;
    margin-left: 0px;
    margin-top: 80px;
    display: flex;
    align-items: center;
}
.footer p{
    font-size: 16px;
}
.footer-left{
    display: flex;
}


.footer-buttons-section{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.create-task-btn{
    width: 140px;
    height: 40px;
    border-radius: 7px;
    background-color:#2A3647;
    color: white;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: none;
}
.create-task-btn:hover{
    background-color: #29ABE2;
}
.footer-buttons-section img{
    width: 10px;
    height: 10px;
}
.clear-btn{
    width: 110px;
    height: 40px;
    border-radius: 7px;
    color: black;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 1px solid #2A3647;
}
.clear-btn:hover{
    color: #29ABE2;
    border: 1px solid #29ABE2;
}
.clear-btn:hover img {
  filter: brightness(0) saturate(100%) invert(58%) sepia(87%) 
          saturate(2735%) hue-rotate(168deg) brightness(94%) contrast(92%);
}

.priority-section button.urgent {
    background-color: #FF3D00;
    color: white;
}
.priority-section button.medium {
    background-color: #FFA800;
    color: white;
}
.priority-section button.low {
    background-color: #7AE229;
    color: white;
}
.priority-section button.urgent img,
.priority-section button.medium img,
.priority-section button.low img {
  filter: brightness(0) invert(1);
}

input:focus::placeholder {
  color: transparent;
}
textarea:focus::placeholder {
  color: transparent;
}


.required {
    color: #FF8190;
    font-size: 16px;
    margin-top: 0px;
    font-weight: 400;
}

.input-error {
    border: 1px solid #FF8190;
}


.subtask-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subtask-list{
    padding: 12px 21px;
    display: flex;
}
.subtask-icon{
    position: absolute;
    right: 12px;
    top: 12px;
    align-items: center;
    align-self: end;
    gap: 4px;
    display: none;
}
.subtask:focus + .subtask-icon{
    display: flex !important;
}
.x:hover , .hook:hover{
    cursor: pointer;
    background: #D1D1D1;
    border-radius: 56px;
}
.delimiter{
    width: 0px;
    height: 20px;
    border: 1px solid #D1D1D1;
}
.ul-div {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 50px;
    list-style: none;
    
}

.listed{
    margin-top: 8px;
    display: flex;
    padding: 6px 16px;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    align-items: center;
    height: 24px;
}
.listed:hover{
    cursor: pointer;
    background: #e6e6e6;
    border-radius: 10px;
    .list-icon{
        display: flex!important;
    }
}
.dot{
    margin-right: 16px;
}
.list-icon{
    display: flex;
    position: absolute;
    right: 12px;
    gap: 4px;
    display: none;
}

.pencil, .trash{
    width: 20px;
    height: 20px;
}
.edit-input{
    height: 10px;
    border: none;
    outline: none;
    border-radius: 0;

    display: block;               
    width: calc(100% - 2px);
    margin-left: -16px;        
    margin-right: -16px; 
}
.edit-input:focus {
  border-bottom: 1px solid #29ABE2;
}
.subtask-temp-width{
    width: 324px;
}