@media(max-width:900px) {
    .add-task-popup.show {
        overflow-y: auto;
        top: 70%;
        height: 100%;
        width: 100%;
    }
    .input-container{
        flex-direction: column;
    }
    .line{
        display: none;
    }
    main{
        margin-left: 5px;
    }
    .popup-header{
        width: 100%;
    }
}

@media(max-width:800px) {
    .footer{
        flex-direction: column;
        gap: unset;
        padding-bottom: 16px;
    }
}

@media(max-width:500px) {
    main h1{
        font-size: 34px;
    }
    .input-section-left label{
        font-size: 16px;
    }
    main input{
        font-size: 16px;
    }
    main textarea{
        font-size: 16px;
    }
    .input-section-right label{
        font-size: 16px;
    }
    .select-trigger{
        font-size: 16px;
    }
    .clear-btn, .create-btn{
        font-size: 16px;
    }
    .options{
        font-size: 16px;
    }
    .assigned-symbol{
        font-size: 16px;
    }
}

@media(max-width:428px){
    .input-section-left{
        width: 90%;
    }
    .input-section-right{
        width: 90%;
    }
    .assign-input{
        box-sizing: border-box;
        width: 100%;
        height: 46px;
    }
    .assign-img{
        top: 4px;
    }
    .select-trigger{
        height: 46px;
    }
    .subtask-temp-width{
        width: 100%;
        box-sizing: border-box;
    }
    .assigned-list-initials{
        width: 50px;
        height: 22px;
        padding: 10px;
    }
}