@media(max-width:1350px){
    .task-div{
        width: clamp(195px, 80%, 252px);
    }
}

@media(max-width:1155px){
    .schedule-wrapper{
        flex-direction: column;
        align-items: center;
    }
    .schedule-header{
        width: 244px;
    }
    .placeholder{
        width: 252px;
    }
    .task-div{
        height: auto;
        padding-bottom: 30px;
        width: 252px;
    }
    .no-result{
        top: 8%;
        left: 8%;
    }
    
}


@media(max-width:1100px){
    .header-right{
        margin-left: 0;
    }
}

@media(max-width:1040px){
    .board-header{
        left: 0;
    }
    .board-header h1{
        font-size: 50px;
    }
    .board-header-right{
        gap: 16px;
    }
}


@media(max-width:900px){
    header{
        height: 80px;
        justify-content: flex-end;
    }

    .header-under{
        justify-content: flex-end;
        margin-right: 330px;
    }

    .header-under p{
        display: none;
    }

    .help-img{
        display: none;
    }

    .external-back{
        justify-content: end;
        width: 95%;
        display: flex;
        position: absolute;
        top: 150px;
    }

    nav{
        position: fixed;
        flex-direction: row;
        height: 80px;
        width: 100%;
        bottom: 0;
        top: unset;
        padding: unset;
    }

    .nav-links{
        padding-top: unset;
        flex-direction: row;
        width: 95%;
        justify-content: space-around;
        gap: 0;
    }
    .nav-links a{
        flex-direction: column;
        gap: 0;
        padding-top: 16px;
        width: auto;
    }

    .nav-logo{
        position: fixed;
        top: 0px;
        left: 20px;
        width: 50px;
        height: 80px;
    }

    .nav-rights{
        display: none;
    }


    .legal-wrapper{
        padding-bottom: 70px;
        padding-left: 8px;
        padding-right: 8px;
        margin-left: unset;
    }


/* ///////////////////////////////////////// */

    .placeholder{
        width: 90vw;
    }
    .schedule-wrapper{
        margin-left: 0;
    }
    .schedule-header{
        width: 90vw;
    }
    .board-header{
        margin-left: 8px;
        margin-top: 80px;
        padding-right: 40px;
        top: 30px;
        position: unset;
        justify-content: space-between;
        width: 90vw;
    }
    .board-header-right input {
        /* position: absolute;
        top: 60px;
        transform: translateX(-90%);
        width: 90vw; */
        position: absolute;
        top: 60px;
        left: -80vw;
        right: -2vw;
    }

    .search-glas{
        right: -10px;
        transform: translateY(135%);
    }
    .board-header-right button{
        gap: unset;
        width: 40px;
        height: 40px;
    }
    .no-result{
        left: unset;
    }
}


