.task-avatar{
  margin-left: -16px;
  position: relative;
  z-index: 0;
}
.task-avatar:first-child {
  margin-left: 0;
}

.task-avatar:nth-child(n) {
  z-index: auto;
}

.task-avatar:nth-child(n+1) {
  z-index: 1;
}

.board-task-subtask{
  display: none;
  align-items: center;
  gap: 8px;
}
.pa{
  position: absolute;
}
.board-task-subtask-beam{
  width: 100px;
  height: 8px;
  top: 4px;
  gap: 10px;
  opacity: 1;
  border-radius: 8px;
  display: flex;
  background: #F4F4F4;
  position: relative;
  overflow: hidden;
}
.board-task-subtask-beam::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #4589ff;
  width: var(--progress-width, 0);
  transition: width 0.3s ease;
  border-radius: 8px;
}

/* .board-task-subtask-beam.half::after {
  width: 50%;
}

.board-task-subtask-beam.full::after {
  width: 100%;
} */

/* .board-task-subtask-numb{

} */

.prio-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.preview{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-result{
  position: relative;
  top: 30%;
  font-size: 18px;
  font-weight: 500;
  width: 100vw;
  text-align: center;
}


.drag-animation {
  transform: rotate(6deg);
  transition: transform 0.2s ease;
  cursor: grabbing;
}

.drag-area-highlight {
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 100%;
  height: 270px;
  border: 2.4px dashed #a4a4a4;
  border-radius: 24px;
  pointer-events: none;
  box-sizing: border-box;
  /* animation: pulse 1s infinite; */
  z-index: 10;
  margin-top: 8px;
}

@keyframes pulse {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.2;
  }
}

.card-category{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.swap-img{
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: none;
}

