@media(max-width:900px) {
    .edit-assign-input{
        box-sizing: border-box;
        width: 100%;
        padding-top: 25px !important;
        padding-bottom: 25px !important;
    }
    .edit-subtask{
        width: unset;
    }
    .edit-subtask-input{
        box-sizing: border-box;
        width: 100% !important;
    }
    
    
}


@media(max-width:700px) {
    .priority-section{
        flex-direction: column;
        align-items: flex-start;
    }

    .big-view-wrapper{
        padding: 8px 16px;
    }
    
}

@media(max-width:600px) {
    .ticket-edit-form label{
        font-size: 16px;
    }
    .ticket-edit-form input{
        font-size: 16px;
    }
    .ticket-edit-form textarea{
        font-size: 16px;
    }
    .priority-section button{
        font-size: 16px;
    }
    .save-btn{
        font-size: 16px;
    }
    .save-btn img{
        height: 12px;
    }
    
}