@media(max-width:900px){
    header{
        height: 80px;
        justify-content: flex-end;
    }

    .header-under{
        justify-content: flex-end;
        margin-right: 330px;
    }

    .header-under p{
        display: none;
    }

    .help-img{
        display: none;
    }

    .external-back{
        justify-content: end;
        width: 95%;
        display: flex;
        position: absolute;
        top: 150px;
    }

    nav{
        position: fixed;
        flex-direction: row;
        height: 80px;
        width: 100%;
        bottom: 0;
        top: unset;
        padding: unset;
    }

    .nav-links{
        padding-top: unset;
        flex-direction: row;
        width: 95%;
        justify-content: space-around;
        gap: 0;
    }
    .nav-links a{
        flex-direction: column;
        gap: 0;
        padding-top: 16px;
        width: auto;
    }

    .nav-logo{
        position: fixed;
        top: 0px;
        left: 20px;
        width: 50px;
        height: 80px;
    }

    .nav-rights{
        display: none;
    }


    .legal-wrapper{
        padding-bottom: 70px;
        padding-left: 8px;
        padding-right: 8px;
        margin-left: unset;
    }





    main{
        margin-left: unset;
        padding-top: 80px;
    }
    .add-contact-btn{
        top: 100px;
        margin-left: 20px;
        width: auto;
        padding: 12px;
    }
    .contact-div{
        width: 300px;
    }
    .letter-sec{
        padding: unset;
    }
    .letter-sec p{
        padding: 0 25px;
    }
    .line-horizontal{
        width: 270px;
    }
    .contact-nav-initials{
        width: 40px;
    }
    .contact-nav-details{
        width: 190px;
    }
    .main-header{
        left: 250px;
    }
    .contact-overview{
        left: 350px;
    }
}

@media(max-width:1370px){
    .main-header{
        left: 400px;
    }
    .contact-overview{
        left: 490px;
    }
}

@media(max-width:1270px){
    .header-right{
        margin-left: unset;
    }
    .main-header{
        flex-direction: column;
        gap: unset;
        top: unset;
        left: 310px;
    }
    .main-header h1{
        font-size: 48px;
        margin-bottom: 8px;
    }
    .del-vertical{
        display: none;
    }
    .main-header p{
        margin-left: 80px;
        font-size: 24px;
        margin-top: 0;
        margin-bottom: auto;
    }
    .del-horizontal{
        display: block;
        margin-top: 8px;
        margin-left: -20px;
    }

    .contact-name-section p{
        font-size: 40px;
        margin-bottom: 20px;
    }
    .contact-initials{
        width: 90px;
        height: 90px;
    }
    .contact-overview{
        left: 400px;
    }
    .contact-overview-header{
        gap: 16px;
    }
    
    .contact-div{
        width: 380px;
    }

    .add-contact-btn{
        width: 280px;
    }

    .letter-sec p{
        padding: 0 20px;
    }
}

@media(max-width:1100px){
    .contact-div{
        width: 340px;
    }
    .add-contact-btn{
        width: 240px;
    }
    .contact-nav{
        padding: 2px 16px;
    }
    .main-header{
        left: 270px;
    }
    .main-header h1{
        font-size: 42px;
    }
    .main-header p{
        font-size: 22px;
    }
    .contact-overview{
        left: 360px;
        font-size: 26px;
    }
    .contact-name-section p{
        font-size: 32px;
    }
    .del-horizontal{
        margin-left:unset;
    }
}